body, p{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f5fc;    
}
html {
	font-size: 62.5%;
}
.xftsfx_mian{
    width: 100%;
    padding-bottom: 100px;
}
.title{
    position: fixed;
    z-index: 999;
    top: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to right,#54c3fd,#4c73fc);
}
.title > p{
    color: #fff;
    text-align: center;
    font-family: "Noto Sans SC";
    font-weight: 400;
    height: 70px;
    line-height: 70px;
    width: 100%;
    font-size: 2.5rem;
}
.title .riqi{
	position: absolute;
	top:3px;
	width:25px;
	cursor:pointer;
	height:25px;
	left:88%;
}
.title .riqi img{
	width:25px;
	height:25px;
}
.title > .fh {
    position: absolute;
    width: 15px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}
.xftsfx_nav{
    padding-top: 70px;
    width: 100%;
    height:500px;
    background:url('../image/bj2.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.xftsfx_nav img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300.5px;
    height:300.5px;
    transform: translate(-50%, -50%);
}
.xftsfx_nav div{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    font-size: 32px;
    transform: translate(-50%, -50%);
}
.xftsfx_nav div p:first-of-type{
	font-size:2rem;
}
.xftsfx_nav div p:nth-of-type(2){
	font-size:5rem;
}
.xftsfx_nav div p:nth-of-type(3){
	font-size:2rem;
}
.xftsfx_nav div p{
    padding: 8px 0;
    font-family: "Noto Sans SC";
}





.xftsfx_index{
    width: calc(100% - 35px);
    margin: 20px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(199, 199, 199, 0.5) 0px 0px 6px 1px;
}
.xftsfx_index > .xftsfx_index_title{
    height: 77px;
    line-height: 77px;
    padding: 0 25px;
    border-bottom: 1px dashed  #C2C2C2;
    font-size: 28px;
    font-family: "Noto Sans SC";
    font-weight: 500;
}
.xftsfx_index > .xftsfx_index_title span{
	font-size: 2.2rem;
	font-weight: 450;
}
.xftsfx_index > .xftsfx_index_title span:first-of-type{
	font-size:2.2rem;
	font-weight: 400;
}
/*tab*/
.xftsfx_index>.xftsfx_index_title p{
	height: 80px;
	line-height: 80px;
	padding: 0 25px;
	border-bottom: 1px dashed #bbb;
	font-size: 2.2rem;
	font-family: "Noto Sans SC";
	font-weight: 400;
}
.xftsfx_index{
	position: relative;
}
.xftsfx_index:nth-of-type(2) .xftsfx_index_title>span{
	width:40%;
}
.xftsfx_index .tabs{
	position: absolute;
	left:60%;
	top:0px;
}
.xftsfx_index .content>div{
	display: none;
}
.xftsfx_index .content>div.active{
	display:block;
}
.xftsfx_index .tabs .active{
	color: #4c74fc;
	float: right;
	font-size: 1.8rem;
	height: 35px;
	border: 2px solid;
	border-radius: 18px;
	padding: 0 12px;
	line-height: 35px;
	margin-top: 21px;
}
.xftsfx_index .tabs span{
	color: #333;
	float: right;
	font-size: 1.8rem;
	height: 35px;
	padding: 0 12px;
	line-height: 35px;
	margin-top: 23px;
}
/**/
.footer{
    border-top: 1px solid #bbb;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index:999;
    height: 98px;
    background: #fff;
}
.footer p{
    width: 25%;
    float: left;
    height: 98px;
}
.footer p img{
    display: block;
    margin: 15px auto 5px;
    width: 36px;
    height: 36px;
}
.footer p span{
    font-size: 22px;
    color: #666;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: "Noto Sans SC";
    font-weight: 400;
}