/*全局背景*/
/*#app {*/
  /*background: #030e23;*/
/*}*/

/*全局一级标题*/
.theme-title {
  background: #081b3a;
}

.theme-title h3 {
  color: #fff;
  border: 1px solid #3a4961;
}

/*页面各部分区域*/
.theme-item {
  background-color: #051b2e;
}

/*页面块级区域*/
.theme-carditem {
  background-color: #0a2445;
}

/*全局头部*/
.homeHeader {
  color: #fff;
  background: url("../../img/header-bg-black.png") no-repeat;
}

/*路由导航*/
.router {
  background: rgba(13, 45, 84, 0.98);
  /* background: url("../../img/menu-bg-black.png") no-repeat; */
}

/*路由高亮状态*/
.router-active {
  background-color: #203a78;
}

/*路由导航按钮*/
.theme-menu-btn {
  background: #172031 url("../../img/menu-btn-bg.png") no-repeat;
  background-size: 100% 100%;
}

/*路由导航子按钮*/
.theme-submenu-btn {
  background: #0f265c url("../../img/menu-btn-bg.png") no-repeat;
  background-size: 100% 100%;
}

/*按钮*/
.theme-btn {
  background-color: #0f2c5c;
}

/*字体颜色*/
.theme-fontcolor {
  color: #fff;
}

/* 类似边框的伪类背景颜色 */
.theme-bordercolor {
  background: #dbe4fc;
}

/*列表背景色*/
.theme-list-bgcolor {
  background-color: #153056;
}

/*日期筛选框按钮背景色*/
/* .el-range-editor .el-range-input,
.el-input--suffix .el-input__inner {
  background: #172031 url("../../img/menu-btn-bg.png") no-repeat !important;
  background-size: 100% 100% !important;
} */
/*级联选择器*/
.el-cascader__label {
  color: #fff !important;
}
.el-cascader__label span {
  color: #fff !important;
}
/* 粉蓝色字体 */
.theme-fontColor-pinkblue {
  color: #3fefff;
}
/* 紫灰色字体 */
.theme-fontColor-purplegrey {
  color: #9c9aee;
}
/* 百分比宽度bar的背景颜色 */
.theme-barBox {
  background: rgba(71, 70, 107, 0.5);
}

/* elementui 日历 */
/*.el-picker-panel {*/
  /*background: #0f265c !important;*/
  /*color: #e2e5eb !important;*/
/*}*/
/*.el-popper[x-placement^="bottom"] .popper__arrow::after {*/
  /*border-bottom-color: rgba(15, 38, 92, 1) !important;*/
/*}*/
/*.el-date-table td.next-month,*/
/*.el-date-table td.prev-month {*/
  /*color: #3f4e72 !important;*/
  /*font-size: 15px;*/
/*}*/
/*.el-date-table td.in-range div,*/
/*.el-date-table td.in-range div:hover {*/
  /*background-color: #0f265c !important;*/
/*}*/
/*.el-date-table th {*/
  /*color: #e2e5eb !important;*/
/*}*/
/*.el-picker-panel__icon-btn {*/
  /*color: #fff !important;*/
/*}*/
/*.el-date-editor .el-range-separator {*/
  /*color: #fff !important;*/
/*}*/

/* elementui 树 */
.el-tree-node__content:hover {
  background: #0f2c5c !important;
}
.el-tree-node:focus > .el-tree-node__content {
  background: #0f2c5c !important;
}

/* elementui select */
.el-select-dropdown {
  background: rgba(15, 38, 92, 0.8) !important;
  border: 1px solid rgba(15, 38, 92, 1) !important;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: rgba(15, 38, 92, 0.5) !important;
  color: #fff !important;
}
.el-scrollbar__thumb {
  background: linear-gradient(rgba(14, 149, 210, 0.8), rgba(19, 240, 255, 0.8)) rgba(0, 0, 0, 0.5) !important;
}
.el-scrollbar__bar.is-vertical{
  width: 10px !important;
}
