/*全局背景*/
/*#app {*/
  /*background: #f0f2f5;*/
/*}*/

/*全局一级标题*/
.theme-title {
  background: #fff;
}

.theme-title h3 {
  color: #333;
  border: 1px solid #dfe2e7;
}

/*页面各部分区域*/
.theme-item {
  background-color: #fff;
}

/*页面块级区域*/
.theme-carditem {
  background-color: #f5f7fc;
}

/*全局头部*/
.homeHeader {
  color: #5584f7;
  background: url("../../img/header-bg-white.png") no-repeat;
}

/*路由导航*/
.router {
  background: #eff3fc;
  /* background: url("../../img/menu-bg-white1.png") no-repeat; */
  /* background-size: 100% 100%; */
}

/*路由高亮状态*/
.router-active {
  background-color: #fff;
}

/*路由导航按钮*/
.theme-menu-btn {
  background: #99b5fa url("../../img/menu-btn-bg.png") no-repeat;
  background-size: 100% 100%;
}

/*路由导航子按钮*/
.theme-submenu-btn {
  background: #7299f8 url("../../img/menu-btn-bg.png") no-repeat;
  background-size: 100% 100%;
}

/*按钮*/
.theme-btn {
  background-color: #5584f7;
}

/*字体颜色*/
.theme-fontcolor {
  color: #666;
}

/* 类似border的after背景颜色 */
.theme-bordercolor {
  background: #666;
}

/*列表背景色*/
.theme-list-bgcolor {
  background-color: #dbe4fc;
}

/*日期筛选框按钮背景色*/
.el-range-editor .el-range-input,
.el-input--suffix .el-input__inner {
  background: url("../../img/elementYear-bg.png") no-repeat !important;
  background-size: 100% 100% !important;
}
/*级联选择器*/
.el-cascader__label {
  color: #fff !important;
}

/* 粉色字体 */
.theme-fontColor-pinkblue {
  color: #f7939d;
}
/* 紫灰色字体 */
.theme-fontColor-purplegrey {
  color: #666;
}
/* 百分比宽度bar的背景颜色 */
.theme-barBox {
  background: rgba(172, 172, 172, 0.5);
}

/* elementui 日历 */
.el-picker-panel {
  color: rgba(87, 195, 244, .5) !important ;
  background: url(../../img/selectYear-bg.png) !important;
  background-size: 100% 100% !important;
  border: none !important;
}
.el-month-table td .cell,
.el-year-table td .cell {
  color: rgba(87, 195, 244, .5) !important;
}

.el-date-picker__header-label {
  color: #57c3f4 !important;
}

.el-month-table td .cell:hover,
.el-month-table td.current:not(.disabled) .cell,
.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell,
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover,
.el-picker-panel__icon-btn:hover {
  color: #57c3f4 !important;
  font-weight: bold !important;
}

.el-popper[x-placement^="bottom"] .popper__arrow::after {
  border-bottom-color: #fff !important;
}
.el-date-table td.next-month,
.el-date-table td.prev-month {
  color: #e2e5eb !important;
  font-size: 15px;
}
.el-date-table td.in-range div,
.el-date-table td.in-range div:hover {
  background-color: #99b5fa !important;
}
.el-date-table th {
  color: #606266 !important;
}
.el-picker-panel__icon-btn {
  color: rgba(87, 195, 244, .5) !important;
}
.el-date-editor .el-range-separator {
  color: #fff !important;
}

/* elementui 树 */
.el-tree-node__content:hover {
  background: #f5f7fa !important;
}
.el-tree-node:focus > .el-tree-node__content {
  background: #f5f7fa !important;
}

/* elementui select */
.el-select-dropdown {
  background: url('../../img/selectYear-bg.png') !important;
  background-size: 100% 100% !important;
  border: none !important;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: transparent !important;
  color: #57c3f4 !important;
  font-weight: bold !important;
}
.el-scrollbar__thumb {
  background-color: #99b5fa !important;
}
.el-select-dropdown__item {
  color: rgba(87, 195, 244, .5) !important;
  font-size: .2rem !important;
  height: .4rem !important;
  line-height: .4rem !important;
}
.popper__arrow{
  display: none !important;
}
.el-popper[x-placement^=bottom]{
  margin-top: 0 !important;
}


/* 表格 */
.el-table--border,
.el-table--group {
  border: none !important;
}

.el-table__header-wrapper {
  border: .05rem solid #0d85be;
  border-bottom: none;
  box-sizing: border-box;
}
.el-table__body-wrapper{
  border: .05rem solid #0d85be;
  border-top: none;
  box-sizing: border-box;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background: none !important;
}
.el-table thead tr,
.el-table thead th {
  background: #0a1631 !important;
}
.el-table thead {
  color: #2ddfff !important;
  font-size: .16rem;
  font-weight: 400 !important;
}
.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-right: 0.01rem solid rgba(255, 255, 255, 0.2) !important;
}
.el-table__body-wrapper.is-scrolling-none {
  font-size: .16rem;
}
.el-table td,
.el-table th.is-leaf{
  border-bottom: 0.01rem solid rgba(255, 255, 255, 0.2) !important;
}
.el-table td,
.el-table th {
  text-align: center !important;
}
.el-table th {
  height: .68rem !important;
  padding: 0 !important;
}
.el-table td{
  height: .45rem !important;
  padding: 0 !important;
}
.el-table,
.el-table__expanded-cell {
  background: #0a1631 !important;
}
.el-table__empty-text {
  color: #fff !important;
}
.el-table__row {
  background: #0a2341 !important;
}
.el-table__row:nth-child(even) {
  background: #0a1631 !important;
}
.el-table .cell,
.el-table th div{
  padding: 0 !important;
}
.el-table{
  color: rgba(255, 255, 255, .8) !important;
}
.el-table--border th.gutter:last-of-type{
  border: none !important;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background: inherit!important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: #0d85be;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.el-month-table td.end-date .cell,
.el-month-table td.start-date .cell {
  color: #FFF !important;
  background-color: #2b86df !important;
}
.el-month-table td.in-range div,
.el-month-table td.in-range div:hover{
  background-color: #0f5a89a6 !important;
}
.select-area .el-input--suffix .el-input__inner {
  background: none !important;
}
